#Ignore Virtual Environment 
env/
.env/
venv/
.venv/

#VScode config
.vscode/
# Build apps
build
# Cache
__pycache__/
# Log files and user config
logs/
config/*.json
!config/default_*.json
# User comments
**/comments/*.json
